[user]
  name = Teyler Halama
  email = teyler@hey.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMAg0bo8XRuPNC6vvtTWhiFBr8do+wCO6k4XRkRCDsgf
[gpg]
  format = ssh
[gpg "ssh"]
  # MacOS 
  # program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

  # Linux
  allowedSignersFile = ~/.config/git/allowed_signers
  program = /opt/1Password/op-ssh-sign
[commit]
  gpgsign = true

[branch]
        sort = -committerdate
[diff]
        ignoreWhitespace = true
[color]
        ui = auto
